{{template "base" .}}
{{define "title"}}Create a New Jazba{{end}}
{{define "main"}}
<form action='/jazba/create' method='POST'>
{{with .Form}}
<div>
<label>Takırıp:</label>
{{with .Errors.Get "takyryp"}}
<label class='error'>{{.}}</label>
{{end}}
<input type='text' name='takyryp' value='{{.Get "takyryp"}}'>
</div>
<div>
<label>Mazmunı:</label>
{{with .Errors.Get "mazmuny"}}
<label class='error'>{{.}}</label>
{{end}}
<textarea name='mazmuny'>{{.Get "mazmuny"}}</textarea>
</div>
<div>
<label>Öşiriw:</label>
{{with .Errors.Get "expires"}}
<label class='error'>{{.}}</label>
{{end}}
{{$exp := or (.Get "expires") "365"}}
<input type='radio' name='expires' value='365' {{if (eq $exp "365")}}checked{{end}}> Bir Jıl
<input type='radio' name='expires' value='7' {{if (eq $exp "7")}}checked{{end}}> Bir Apta
<input type='radio' name='expires' value='1' {{if (eq $exp "1")}}checked{{end}}> Bir Kün
</div>
<div>
<input type='submit' value='Jariyalaw'>
</div>
{{end}}
</form>
{{end}}